* {
	margin: 0;
	padding: 0;
	box-sizing: border-box	;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden; /* Hide vertical scrollbar */
}

body {
	background-image: url(https://www.zastavki.com/pictures/1920x1080/2018Nature___Sundown_Sunset_in_the_blue_sky_on_the_sea_horizon_129614_23.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100vh;
	margin-top: 0;
}




#landing {
	height: 30em;
	background-color: black;
	background-image: url(https://i.pinimg.com/originals/17/f0/4c/17f04cfea9408581f241f54780000420.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#color{
	background-color: 
#727272
;
	height: 15rem;
	padding-bottom: 2rem;
	padding-top: 2rem;
}


.title,.title-2 {
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  color: white;

}


.navbar {	
	display: block;
	position: sticky;
}

}

.title2 {
	text-align: center;
	text-decoration: underline;
	text-decoration-color: orange;
	color: ;
	margin-top:  10rem;
	margin-left: 5rem;
	margin-bottom: 5em;	
	font-family: Open Sans, sans-serif;
	font-weight: bolder;
}

.image2 {
	align-content: center;
	margin-top: 2rem;
}

.text-dark {
	text-align: center;
	margin-top: 10rem;
	text-decoration: underline;
	text-decoration-color: orange;
}


.tools {
	text-decoration: underline;
	text-decoration-color: orange;
	text-align: center;
	margin-top: 100px;
}



.row1st {
	display: block;
	position: absolute;
	height: 4em;

}

.tools2 {
	margin-top: 2rem;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: orange;
}


.btn {
	margin-top: 10px;
}

.footer {
  background-color: #f8f8f8;
  padding: 60px ;
  color: black;
  text-align: center;
}

#footer-des, #link{
	font-family: Open Sans, sans-serif;
	font-size: 19px;
}


#pic-bg {
	background-image: url(https://cdn.vox-cdn.com/uploads/chorus_asset/file/24017434/Cyberpunk_Edgerunners_Season1_Episode2_00_21_37_03.jpg);
	min-height: 30vh;
	align-content: center;
	background-position: center;
}

#prof{
	border: solid #8B8787 70px;
	background-color: gray;
    right: 0;
	  max-height: 100%;
    max-width: 100%;
    display: block;
    margin -left: 25em;
    position: relative;
    top: 50%;
    display: block;
    margin: 0 auto;
    position: relative;
}
    .nav-item {
    	font-weight: bold;
    }

#Projects {
}

#facebook {
	height: 20%;

  max-width: 100%;

}

.links {
	display: flex;
  justify-content: center;
  margin: 10px;
}

#kont {
	color: black;
}